# config file
config.ini

# built driver
xr_usb_serial_common-1a/.tmp_versions
xr_usb_serial_common-1a/*.cmd
xr_usb_serial_common-1a/Module.symvers
xr_usb_serial_common-1a/modules.order
xr_usb_serial_common-1a/xr_usb_serial_common.ko
xr_usb_serial_common-1a/xr_usb_serial_common.mod.c
xr_usb_serial_common-1a/xr_usb_serial_common.mod.o
xr_usb_serial_common-1a/xr_usb_serial_common.o

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# emacs
*~
